<div class="box">
    
    <div class="row" *ngIf="!loading">
        <div class="col-md-5 col-sm-12">
            <img src="{{data.image}}" alt="sas">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="mist-unstyled">
                    <li><strong>Title :</strong>{{data.title}}</li>
                    <li><strong>Category :</strong>{{data.category}}</li>
                    <li><strong>Description :</strong>{{data.description}}</li>
                    <li><strong>Rate :</strong>{{data.rating.rate}}</li>
                    <li><strong>Count :</strong>{{data.rating.count}}</li>
                    <li><strong>Price :</strong>{{data.price}} D.A</li>
                </ul>
            </div>
        </div>
        <button class="btn btn-danger my-4" routerLink="/products">back</button>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>